/* General Code CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Top bar CSS */
.adv{
    background-color: #000000;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 1000;
    align-items: center;
    font-weight:300;
    padding: 12px 0;
    align-items: center;

}

.adv p{
    color: #FAFAFA;
    font-size: 14px;
    text-transform: capitalize;
    margin-left: 445px;
}

.adv a{
    color: #FAFAFA;
    font-size: 14px;
    font-weight:600;
    margin-left: 8px;
    text-decoration: underline;
}

.adv .lang{
    margin-left: 231px;
    font-size: 14px;
}

.adv .icon{
    margin-left: 5px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 100px 90px;
}

.left-section{
  display: flex;
  align-items: center;
}

.left-section .logo{
  font-size: 24px;
  font-weight: bold;
  margin-left: -5%;
}

.mid-section{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: -5%;
}

.mid-section nav a{
  text-decoration: none;
  color: black;
  padding-right: 48px;

}

.mid-section2{
  display: flex;
  align-items: center;
  margin-right: -15%;
}

.mid-section2 form{
  display: flex;
  width: 243px;
  height: 38px;
}

.mid-section2 input{
  width: 100%;
  border-radius: 2px 0 0 2px;
  padding: 12px;
  font-size: 12px;
  border: 1px solid #d3d3d3;
  background-color: #F5F5F5;
  border-right: none;
}

.mid-section2 button{
  width: 64px;
  border: 1px solid #d3d3d3;
  border-radius: 0 2px 2px 0;
  padding-top: 4px;
  background-color: #F5F5F5;
  border-left: none;
  cursor: pointer;
}

.mid-section2 button:hover{
  border-color: #c6c6c6;
  background-color: #f0f0f0;
}

.right-section .icons{
  margin-left: 30px;
}
.right-section a{
  margin-left: 16px;
}

