@import url("../variables.css");
.body-container-home{
  display: flex;
  gap: 20px;
  padding-left: 85px;
  padding-top: 180px;
}

.hero {
  display: flex;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-radius: 10px;
  margin-left: 150px;
}

.hero-content i{
 padding-right: 14px;
 font-size: 40px;
 padding-left: 64px;
}

.hero-content .iphone-p1{
  padding-left: 55px;
  font-size: 30px;
  font-weight: 400;
}

.hero-content pre{
    font-size: 48px;
    font-weight: bold;
    padding-left: 64px;
    padding-top: 20px;
}

.hero img {
  width: 496px;
}
