@import url("../variables.css");
.home-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 30px;
  gap: 35px;
}

.card {
  background: var(--text_white);
  border-radius: 10px;
  overflow: hidden;
  width: 250px;
  box-shadow: 0 4px 15px var(--black_opacity_low);
  position: relative;
}

.card-img {
  position: relative;
  background: var(--secondary_color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.discount2 {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--button_green);
  color: var(--white_Primary);
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.heart, .eye {
  position: absolute;
  background-color: var(--white_Primary);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.heart {
  top: 10px;
  right: 6px;
}

.eye {
  top: 50px;
  right: 6px;
}

.card-img img {
  max-width: 100%;
  height: auto;
}

.btn-add-cart {
  background-color: var(--button_black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--text_white);
  padding: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.btn-add-cart:hover {
  scale: 1.05;
}

.card-content {
  padding: 12px;
}

.card-content h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.price {
  color: var(--secondary2_color);
  font-size: 16px;
  font-weight: 600;
}

.old-price {
  text-decoration: line-through;
  color: var(--text_grey);
  font-size: 14px;
  margin-left: 8px;
}

.rating {
  margin: 8px 0;
  color: var(--orange);
}

.rating i {
  font-size: 14px;
}

.rate-not-active {
  color: var(--grey);
}

.color-options {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.color-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
}
