@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("./variables.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: var(--text_black);
}

.container{
    width: 90%;
    margin: auto;
    max-width: 1350px;
}


/* Header */
header{
     position: fixed; 
     top: 0; 
     left: 0; 
     right: 0; 
     z-index: 1000;
    box-shadow: 5px 8px 8px #d1d1d13b;
    background-color: var(--background_color);
}

header .top-header{
    background-color: var(--button_black);
    color: var(--white_Primary);
}

header .top-header .container{
    display: flex;
    width: 100%;
    align-items: center;
    font-weight:300;
    padding: 12px 0;
    justify-content: center;
}

header .top-header .container p{
   font-size: 14px;
   color: var(--text_white);
   text-transform: capitalize;
   margin-left: 150px;

}

header .top-header .container a{
color: var(--text_white);
font-size: 14px;
font-weight: 600;
margin-left: 8px;
text-decoration: underline;
}

header .top-header .container .lang{
   font-size: 14px;
}

header .top-header .container i{
    margin-left: 5px;
}

header .bottom-header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

header .bottom-header .logo{
    font-size: 24px;
    font-weight: bold;
}

header .bottom-header nav{
    display: flex;
    align-items: center;
    gap: 48px;
    height: 60px;
}

header .bottom-header .nav-links{
        display: flex;
        gap: 48px;
}

header .bottom-header .nav-links li a{
    transition: 0.03s;
}

header .bottom-header .nav-links li:hover a{
    font-weight: 600;
    text-decoration: underline;
    color: var(--secondary2_color);
}

header .bottom-header .nav-links li.active a{
      font-weight: 600;
      color: var(--secondary2_color);
      text-decoration: underline;
}


header .bottom-header .search-box{
    width: 243px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: var(--secondary_color);
}

header .bottom-header .search-box input{
   height: 38px;
   width: 200px;
   padding: 5px 15px 5px 10px;
   background-color: var(--secondary_color);
   border: none;
   border-radius: 4px;   
}

header .bottom-header .search-box button{
   height: 55px;
   width: 43px;
   border: none;
   background-color: var(--secondary_color);
   font-size: 16px;
   cursor: pointer;
   padding-right: 10px;
}


header .bottom-header .header-icons{
    display: flex;
    gap: 20px;
}

header .bottom-header .header-icons .icon{
   position: relative;
   cursor: pointer;
}

header .bottom-header .header-icons .icon i{
  font-size: 24px;
    
} 

header .bottom-header .header-icons .icon .count{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: var(--secondary2_color);
    border-radius: 50%;
    color: var(--text_white);
} 

header .bottom-header{
    border-bottom: 1px solid var( --black_opacity_low);
}



/* footer */
footer {
  margin-top: 140px;
  background-color: var(--button_black);
  color: var(--text_white);
  padding: 50px 0;
  font-family: Arial, sans-serif;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

footer span, footer h1 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  display: block;
}

footer p {
  font-size: 14px;
  color: var(--grey);
  margin: 16px 0;
}

footer form {
  display: flex;
  border: 1px solid var(--grey);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 16px;
}

footer input{
  padding: 10px;
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  background-color: #000000;
}

footer button {
  background: transparent;
  border: none;
  padding: 0 10px;
  cursor: pointer;
}

footer a {
  display: block;
  color: var(--grey);
  font-size: 14px;
  margin: 16px 0;
  text-decoration: none;
}

.download-section {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: var(--text_white);
  margin-right: 10px;
  font-size: 16px;
  display: inline-block;
  font-size: 24px;
  padding-right: 16px;
}

.social-icons a:hover {
  color: var(--grey);
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding: 15px;
  font-size: 13px;
  color: var(--black_Primary);
}
